<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <title>{{ folder_name }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .image {
            height: 150px; /* Set a standard height for all images */
            width: auto; /* Set width to auto to maintain aspect ratio */
        }
    </style>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-2xl font-bold text-left mb-6">{{ folder_name }}</h1>
        
        <div class="mt-6 py-5">
            <button id="back-btn" onclick="window.history.back()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded shadow-md">Back</button>
            <button id="undo-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-md">Undo</button>
            <button id="submit-btn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded shadow-md">Submit</button>
            {% if folder_name in completed_folders %}
                <button id="toggle-done-btn" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded shadow-md">Mark as Not Done</button>
            {% else %}
                <button id="toggle-done-btn" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded shadow-md">Mark as Done</button>
            {% endif %}
        </div>

        <div id="image-list" class="flex flex-wrap justify-start gap-4">
            {% for image in images %}
                <div class="image-container" data-image="{{ image }}">
                    <img src="{{ url_for('static', filename=image) }}" class="image rounded-lg shadow">
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        var toDelete = {};
        var deleteStack = []; // Stack to keep track of the order of images clicked for deletion
    
        $('.image-container').click(function() {
            var imageName = $(this).data('image');
            if (toDelete[imageName]) {
                // If the image is in the toDelete list, show it again
                $(this).show();
                delete deleteStack[deleteStack.indexOf(imageName)]; // Remove from stack
                delete toDelete[imageName];
            } else {
                // If the image is not in the toDelete list, hide it and add to stack
                $(this).hide();
                toDelete[imageName] = true;
                deleteStack.push(imageName); // Add to stack
            }
        });
    
        $('#undo-btn').click(function() {
            if (deleteStack.length > 0) {
                // Get the last image name from the stack
                var lastImageName = deleteStack.pop();
                // Show the last hidden image
                $('[data-image="' + lastImageName + '"]').show();
                // Remove from the toDelete list
                delete toDelete[lastImageName];
            }
        });
    
        $('#submit-btn').click(function() {
            $.ajax({
                url: '/delete-images',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ images: Object.keys(toDelete) }),
                success: function(response) {
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    console.error('Error deleting images:', status, error);
                }
            });
        });
        $('#toggle-done-btn').click(function() {
            $.post('/toggle_done/' + encodeURIComponent('{{ folder_name }}'), function() {
                // Redirect to the home page
                window.location.href = "{{ url_for('index') }}";
            }).fail(function() {
                console.error('Failed to toggle the state of the folder.');
            });
        });
    </script>
    
</body>
</html>
